$laptop: 1200;
$tablet: 1024;
$mobile: 767;
$mobile-xs: 577;


// laptop
@mixin laptop {
  @media screen and (max-width:#{$laptop}px) {
    @content;
  }
}

// laptop
@mixin laptopMin {
  @media screen and (min-width:#{$laptop+1px}) {
    @content;
  }
}


// tablet
@mixin tablet {
  @media screen and (max-width:#{$tablet}px) {
    @content;
  }
}


// tablet Min
@mixin tabletMin {
  @media only screen and (min-width: #{$tablet+1px}) {
    @content;
  }
}

// mobile
@mixin mobile {
  @media screen and (max-width:#{$mobile}px) {
    @content;
  }
}


// mobile xs
@mixin mobile-xs {
  @media screen and (max-width:#{$mobile-xs}px) {
    @content;
  }
}

